* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Times New Roman', Times, serif;
}

div .contenedor{
    width: 90%;
    max-width: 1000px;
    margin:auto;
}

header {
    background-color: black;
    color:aliceblue;
}

nav {
    background-color: orangered;
}
nav a {
    color:white;
    text-decoration: none;
}
nav a:hover{
    color:white;
    text-decoration: underline;
}

footer{
    background-color: black;
    color:aliceblue;
}
main section{
    background-color: aliceblue;
    color: black;
}

main article{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}
aside section{
    background-color: orangered;
}
aside section img{
    width: 350px;
}

footer .rrss{
    background-color: orangered;
}

footer img{
    width: 35px;
}