* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Times New Roman', Times, serif;
    background-color:#ECECEC;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin:auto;

    display:flex ;
    flex-wrap: wrap;
}

header {
    background-color: black;
    color:aliceblue;
    padding:20px 100px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav {
    background-color: orangered;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
nav a {
    color:white;
    text-decoration: none;
    margin: 10px 25px;
    
}
nav a:hover{
    color:white;
    text-decoration: underline;
}

main{
    width: 70%;
    background-color: white;
}

main section{
    background-color: white;
    color: black;
    padding: 20px;
    padding-bottom: 90px;
    padding-top: 20px;
}

.uno {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}
.dos{
    padding-top: 20px
}
aside{
    background-color: rgb(255, 111, 59);
    width: 30%;
    display: flex;
	flex-direction: column;
	justify-content: space-between;
}

aside section{
    background-color: orangered;
    margin:20px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

aside section img{
    width: 240px;
    align-items: center;
}
footer{
    background-color: black;
    color:aliceblue;
    padding:20px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .rrss{
    background-color: orangered;
}

footer img{
   	width: 35px;
    padding:6px
}
